{% extends 'halaman/base.html' %}
{% load static %}
{% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg3.jpg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="title">About Us</h1>
                <!-- <h4>Discover the dedicated individuals behind our web development projects and learn more about our journey in the field of Informatics Engineering.</h4> -->
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="about-description text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- <h4 class="description">Welcome to our space! We are a team of passionate web developers from the Informatics Engineering program, committed to crafting innovative and efficient web solutions. Our mission is to combine technology with creativity to build websites that are not only functional but also visually appealing.</h4> -->
                </div>
            </div>
        </div>

        <div class="about-team team-1">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="title" style="text-align: left; font-family: 'Roboto', arial; color: #050508;">
                        NewsNusantara.id
                    </h2>
                    <h3 class="description-text" style="text-align: justify; font-family: 'Roboto', 'Times New Roman', Times, serif; color: #000000;">
                        Welcome to NewsNusantara.id, the latest news platform bringing you up-to-date information from the worlds of sports, politics, and education. 
                        We are a dedicated team of web developers and journalists, driven by a passion for delivering accurate, in-depth, and easily accessible content. 
                        Our mission is to become a trusted news source that not only conveys information but also provides valuable insights 
                        for our readers. Thank you for visiting NewsNusantara.id.
                    </h3>
                </div>
            </div>
        </div>
        
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="{% static 'halaman/assets/img/faces/profilepribadi.jpg' %}" />
                            </a>
                        </div>

                        <div class="card-content text-center">
                            <h4 class="card-title">Muhammad Wahyu Hidayatullah</h4>
                            <h6 class="category text-muted">Informatics Engineering Student / Web Developer</h6>

                            <p class="card-description">
                                Hi, I'm Wahyu, a passionate web developer with a focus on creating dynamic and responsive websites. My goal is to blend functionality with aesthetic design to enhance user experience.
                            </p>
                            <div class="footer">
                                <a href="mailto:mmhdwahyu58@gmail.com" class="btn btn-just-icon btn-simple btn-gmail" style="margin: 0 5px;">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png" alt="Gmail" style="width: 20px; height: 20px;">
                                </a>
                                <a href="https://www.instagram.com/whyudytt__?igsh=MW1hMjlsMHpqc2l2Mg==" class="btn btn-just-icon btn-simple btn-instagram"><i class="fa fa-instagram"></i></a>
                                <a href="https://github.com/MuhammadWahyuHidayatullah23" class="btn btn-just-icon btn-simple btn-github"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
