{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'halaman/assets/img/apple-icon.png' %}">
	<link rel="icon" type="image/png" href="{% static 'halaman/assets/img/favicon.png' %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{ title }}</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link href="{% static 'halaman/assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'halaman/assets/css/material-kit.css' %}?v=1.3.0" rel="stylesheet"/>

	{% block css %}

	{% endblock css %}

</head>

<body class="blog-posts">

	{% include 'halaman/navbar.html' %}


	{% block content %}

	{% endblock content %}


	{% include 'halaman/footer.html' %}

</body>
	<!--   Core JS Files   -->
	<script src="{% static 'halaman/assets/js/jquery.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'halaman/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'halaman/assets/js/material.min.js' %}"></script>

	<!--    Plugin for Date Time Picker and Full Calendar Plugin   -->
	<script src="{% static 'halaman/assets/js/moment.min.js' %}"></script>

	<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/   -->
	<script src="{% static 'halaman/assets/js/nouislider.min.js' %}" type="text/javascript"></script>

	<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker   -->
	<script src="{% static 'halaman/assets/js/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>

	<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select   -->
	<script src="{% static 'halaman/assets/js/bootstrap-selectpicker.js' %}" type="text/javascript"></script>

	<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/   -->
	<script src="{% static 'halaman/assets/js/bootstrap-tagsinput.js' %}"></script>

	<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput   -->
	<script src="{% static 'halaman/assets/js/jasny-bootstrap.min.js' %}"></script>

	<!--    Plugin For Google Maps   -->
	<script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

	<!--    Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc    -->
	<script src="{% static 'halaman/assets/js/material-kit.js' %}?v=1.3.0" type="text/javascript"></script>
	
	{% block js %}

	{% endblock js %}
	
	</html>
